{
   "data":{
      "onDemand":{
         "midrollPods":1,
         "maxPrerollTime":20,
         "prerollPods":2,
         "breakingAdsMode":"os",
         "prerollAdConfig":{
            "vastUrl":"https://gov.aniview.com/api/adserver/vast3?vastV=4&AV_CHANNELID=5d75ff4328a061057f0cb1fd&AV_PUBLISHERID=5d53c40328a0612a9c2b9afd&AV_CFGID=1&AV_CHANNELID=5d75ff6e28a0612f10609766&AV_AID=7d5a26e2-8449-4fdf-9079-896413b7103e&AV_IDFA=7d5a26e2-8449-4fdf-9079-896413b7103e&AV_APPNAME=AniviewDemo&AV_APPPKGNAME=com.aniview.demo",
            "errorLimit":3,
            "clickThrough":true,
            "skip":true,
            "pauseButton":false,
            "soundButton":false,
            "skipTimer":6
         },
         "maxMidrollTime":40,
         "slots":[
            {
               "time":8,
               "timeout":5,
               "maxDuration":10,
               "maxPods":1,
               "adConfig":{
                  "vastUrl":"",
                  "errorLimit":3,
                  "clickThrough":false,
                  "skip":false,
                  "pauseButton":false,
                  "soundButton":false,
                  "skipTimer":3.5
               }
            },
            {
               "time":38,
               "timeout":5,
               "maxDuration":10,
               "maxPods":1,
               "adConfig":{
                  "vastUrl":"",
                  "errorLimit":3,
                  "clickThrough":false,
                  "skip":false,
                  "pauseButton":false,
                  "soundButton":false,
                  "skipTimer":3.5
               }
            }
         ],
         "fillerStream":"",
         "midrollAdConfig":{
            "vastUrl":"https://gov.aniview.com/api/adserver/vast3?vastV=4&AV_CHANNELID=5d75065b28a0616ec2295bb5&AV_PUBLISHERID=5d53c40328a0612a9c2b9afd&AV_CFGID=1&AV_CHANNELID=5d75ff6e28a0612f10609766&AV_AID=7d5a26e2-8449-4fdf-9079-896413b7103e&AV_IDFA=7d5a26e2-8449-4fdf-9079-896413b7103e&AV_APPNAME=AniviewDemo&AV_APPPKGNAME=com.aniview.demo",
            "errorLimit":3,
            "clickThrough":true,
            "skip":true,
            "pauseButton":false,
            "soundButton":false,
            "skipTimer":3.5
         },
         "midrollTime":30,
         "preAdNotification":{
            "showTimer":true,
            "position":"top-left",
            "text":"Ad starts soon",
            "timerCount":5
         }
      },
      "default":{
         "prerollPods":99
      },
      "live":{
         "midrollPods":3,
         "maxPrerollTime":20,
         "prerollPods":2,
         "breakingAdsMode":"cue",
         "prerollAdConfig":{
            "vastUrl":"https://gov.aniview.com/api/adserver/vast3?vastV=4&AV_CHANNELID=5d75ff6e28a0612f10609766&AV_PUBLISHERID=5d53c40328a0612a9c2b9afd&AV_CFGID=1&AV_CHANNELID=5d75ff6e28a0612f10609766&AV_AID=7d5a26e2-8449-4fdf-9079-896413b7103e&AV_IDFA=7d5a26e2-8449-4fdf-9079-896413b7103e&AV_APPNAME=AniviewDemo&AV_APPPKGNAME=com.aniview.demo",
            "errorLimit":3,
            "clickThrough":true,
            "skip":true,
            "pauseButton":false,
            "soundButton":false,
            "skipTimer":3.5
         },
         "maxMidrollTime":25,
         "slots":[
            {
               "time":8,
               "timeout":5,
               "maxDuration":10,
               "maxPods":1,
               "adConfig":{
                  "vastUrl":"",
                  "errorLimit":3,
                  "clickThrough":false,
                  "skip":false,
                  "pauseButton":false,
                  "soundButton":false,
                  "skipTimer":3.5
               }
            },
            {
               "time":38,
               "timeout":5,
               "maxDuration":10,
               "maxPods":1,
               "adConfig":{
                  "vastUrl":"",
                  "errorLimit":3,
                  "clickThrough":false,
                  "skip":false,
                  "pauseButton":false,
                  "soundButton":false,
                  "skipTimer":3.5
               }
            }
         ],
         "midrollAdConfig":{
            "vastUrl":"https://gov.aniview.com/api/adserver/vast3?vastV=4&AV_CHANNELID=5d983f4b4b62362b5b2574e9&AV_PUBLISHERID=5d53c40328a0612a9c2b9afd&AV_CFGID=1&AV_CHANNELID=5d75ff6e28a0612f10609766&AV_AID=7d5a26e2-8449-4fdf-9079-896413b7103e&AV_IDFA=7d5a26e2-8449-4fdf-9079-896413b7103e&AV_APPNAME=AniviewDemo&AV_APPPKGNAME=com.aniview.demo",
            "errorLimit":3,
            "clickThrough":true,
            "skip":true,
            "pauseButton":false,
            "soundButton":false,
"stopFetchingAdsBellowXRemainingSec":5,
"fillAllCueTime":false,
            "skipTimer":3.5
         },
         "fillerStream":"",
         "midrollTime":30
      }
   }
}